body {
	max-width: 1920px;
	background-color: #ffffff;
	margin: 0;

	font-family: mr-eaves-xl-modern, sans-serif;
	font-style: normal;
	font-weight: 300;
}

.header {
	display: flex;
}

.logo {
	font-size: 40px;
	font-weight: 300;
	margin: 30px 100px;
}

ul {
	display: flex;
	height: 68px;
}

li {
	display: flex;
	padding: 0 17px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #222222;
}

li:hover {
	background-color: #222222;
	transition: background 0.6s ease;
	border-radius: 5px;
}

a:hover {
	color: #ffffff;
}

li:first-child {
	margin-left: 10px;
}

.reposition-item {
	display: flex;
	align-items: center;
}

button {
	background-color: #ff3c2d;
	border-radius: 5px;
	color: #ffffff;
	font-size: 16px;

	width: 120px;
	height: 34px;
	margin-left: 300px;
}

/*
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}
*/